@import url('../../index.css');

.library__container {
    padding: 7rem 0rem;
    background-color: rgb(247, 247, 247);
    min-height: 100vh;
}

.library__text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__logo {
        color: steelblue;
        display: inline-block;
        font-weight: bold;
        animation-name: dropFromTop;
        animation-duration: 1.2s;
    }

    &__heading {
        margin-bottom: 2.5rem;
        line-height: 1.1;
        font-size: 7rem;
        font-weight: bold;
    }

    &__subheading {
        color: rgb(29, 19, 19);
        font-weight: 300;
        font-size: 1.2rem;

        &__main {
            font-size: 2.5rem;
            padding-bottom: 1.5rem;
            font-weight: 200;
            color: rgb(75, 40, 75);

            &:after {
                content: '.';
                color: red;
                font-size: 7rem;
                line-height: 0;
            }
        }
    }
}

.library__card__container {
    margin-top: 6rem;
    padding: 0 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    &__empty {
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
        margin-top: 4rem;
        color: red;
        animation-name: delayedLoad;
        animation-duration: 3s;
    }
}

.library__subNavigation {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.3rem;
    position: relative;

    &__item {
        all: unset;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 200;
        
    }
}

.activeSubRoute {
    transform: scale(1.2);
    // color: rgb(91, 158, 175);
    // border-bottom: 2px solid rgb(5, 155, 62);
    font-weight: 500;
}