@keyframes slideIn {
    from {
        translate: 120vw;
    }

    to {
        translate: 0 0;
    }
}

@keyframes dropFromTop {
    from {
        translate: 0 -150vh;
    }

    to {
        translate: 0 0;
    }
}

@keyframes addBookSkew {
    from {
        transform: skew(0deg, 0deg);
    }

    to {
        transform: skew(-15deg, -3deg);
    }
}

@keyframes delayedLoad {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes dropLogo {
    from {
        translate: 0 -150vh;
    }

    to {
        translate: 0 0;
    }
}