@keyframes slideIn {
    from {
        translate: 120vw;
    }

    to {
        translate: 0 0;
    }
}

@keyframes dropFromTop {
    from {
        translate: 0 -150vh;
    }

    to {
        translate: 0 0;
    }
}

@keyframes delayedLoad {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}