@import url('../../../index.css');

:root {
    --card__color-1: rgba(121, 121, 121, 0.2);
    --card__color-2: rgb(20, 20, 20);
}

.quotes__container {
    // background-color: rgba(191, 247, 205, 0.3); 
    padding: 1.5rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation-name: delayedLoad;
    animation-duration: .5s;

    &:hover {
        transform: scale(1.01);
    }

    &__quote {
        font-size: .88rem;
        font-weight: 300;
    }

    &__author {
        font-size: .65rem;
        text-align: end;
        margin-top: 1rem;
    }

    &__linkBtn {
        all: unset;
        cursor: pointer;
        background-color: rgb(218, 45, 59, .6);
        background-color: rgb(174, 206, 243, .5);
        font-size: .78rem;
        padding: .15rem .5rem;
        border-radius: .3rem;

        &:hover {
            background-color: rgba(241, 90, 102, 0.6);
        }
    }
}

.cardA {
    outline: 1px solid black;
}

.cardB {
    background-color: var(--card__color-2);
    background-color: rgb(26, 24, 24);
    color: white;
}