.home__container {
    
    margin: 0 auto;
    max-width: 1580px;
}

.home__text {
    padding: 0 5rem;
    height: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: aliceblue;

    &__main-heading {
        font-size: 6rem;
        font-weight: 400;
        line-height: 1;
        width: 60%;

        &::first-letter {
            color: rgb(189, 14, 14);
        }
    }

    &__subheading {
        width: 40%;
        font-size: 1.3rem;
        font-weight: 300;
        color:rgb(110, 110, 110);
        
    }
}

.home__background__img {
    height: 28rem;
    background-image: url('../../assets/home-background-l.jpg');
    background-repeat: no-repeat;
    background-position: center;
    // background-size: cover;
}



