.footer {
    background-color: black;
    padding: 3rem;
    margin-top: auto;

    &__text {
        color: white;
        text-align: center;
        font-size: 1.1rem;
    }
}

@media(max-width: 600px) {

    .footer {
        padding: 2rem;

        &__text {
            font-size: .7rem;
        }
    }
}