.quoteWrapper {
    margin: auto;
    padding: 2rem;
}

.quoteText {
    font-size: 1.05rem;
    font-weight: 300;
}

.quoteAuthor {
    font-size: .9rem;
    font-weight: bold;
    color: rgb(37, 21, 21);
    text-align: end;
    margin-top: 2rem;
}