.navigation__container {
    // background-color: rgb(255, 234, 175);
    background-color: rgb(243, 243, 243);
    padding: 1.5rem;
}

.hamburger__menu {
    display: none;
}

.navigation {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-left: auto;
    margin-right: 1.5rem;
    gap: 4rem;

    &__wrapper {
        display: flex;
        gap: 1rem;
    }

    &__item {
        all: unset;
        font-size: 1.1rem;
        font-weight: 500;
        cursor: pointer;
        
        &:last-child {
            margin-right: 3rem;
        }

        &:hover {
            color: rgb(88, 88, 88);
            transition: color 1s;
        }
    }

    // placing logo at the bottom as I am overwriting stlyes (placing it on left side)
    &__logo {
        align-self: center;
        margin-right: auto;
        margin-left: 3rem;
        font-weight: bold;
        color: steelblue;
    }
}

.active {
    border-bottom: 3px solid rgb(57, 110, 255);
    width: fit-content;
}

// class I can use to hide / show navigation
.hidden {
    display: none;
    transition: 1s;
}

@media(max-width: 950px) {

    .hamburger__menu {
        // position: absolute;
        // right: 0;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: end;
        align-items: center;
    }

    .navigation {
        flex-direction: column;

        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            align-self: end;
            width: fit-content;

            &:nth-child(2) {
                margin-right: 0;
            }
        }
    }
}