.navigation__container {
    background-color: rgb(243, 243, 243);
    padding: 1.5rem;
    display: flex;
}

.hamburger__menu {
    display: none;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-left: auto;
    margin-right: 1.5rem;
    gap: 4rem;

    &__wrapper {
        display: flex;
        gap: 1rem;
    }

    &__item {
        all: unset;
        font-size: 1.1rem;
        font-weight: 500;
        cursor: pointer;

        &:last-child {
            margin-right: 3rem;
        }

        &:hover {
            color: rgb(88, 88, 88);
            transition: color 1s;
        }
    }

    // placing logo at the bottom as I am overwriting stlyes (placing it on left side)
    &__logo {
        align-self: center;
        margin-right: auto;
        margin-left: 3rem;
        font-weight: bold;
        color: steelblue;
    }
}

.active {
    border-bottom: 3px solid rgb(57, 110, 255);
    width: fit-content;
}

@media(max-width: 950px) {

    .hamburger__menu {
        display: flex;
        justify-content: end;
        align-items: start;
    }

    .navigation {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        height: calc(100% - 4.7rem);
        top: 4.7rem;
        z-index: 50;

        background-color: rgb(236, 232, 232);
        width: fit-content;
        padding: 5rem;

        &.visible {
            transform: translate(0, 0);
            transition: transform .5s;
            margin: 0;
        }

        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            align-self: end;
            width: fit-content;

            &:nth-child(2) {
                margin-right: 0;
            }
        }
    }

    // class I can use to hide / show navigation
    .hidden {
        transform: translate(500px, 0);
        transition: transform 1s;
    }
}