.delete__modal__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}

.delete__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    border-radius: .4rem;
    padding: 3rem;
    background-color: rgb(248, 248, 248);
    width: 50%;
    gap: 1.5rem;

    &__text {
        font-size: 1.5rem;
        font-weight: 300;

        &__notice {
            margin-bottom: 2rem;

            &__delete {
                color: rgb(255, 73, 73);
            }
        }

        &__logo {
            color: steelblue;
            font-weight: bold;
        }
    }
}

.delete__modal__button__container {
    display: flex;
    gap: 1.7rem;

    &__button {
        all: unset;
        padding: .6rem 2rem;
        border-radius: .3rem;
        border: none;
        font-size: 1rem;
        cursor: pointer;
    }

    &__approve {
        background-color: rgb(255, 116, 116);

        &:hover {
            background-color: rgb(175, 52, 52);
        }
    }

    &__reject {

        cursor: pointer;
        font-weight: bold;
        border: 1px solid steelblue;

        &:hover {
            color: rgb(87, 87, 87);
        }
    }
}

@media(max-width: 500px) {

    .delete__modal {
        width: 90%;
        padding: 1.5rem;

        &__text {
            font-size: .9rem;

            &__notice {
                font-size: .9rem;
                margin-bottom: 0;
            }
        }

        &__button__container {
            &__button {
                font-size: .8rem;
                padding: .3rem .7rem;
            }
        }
    }
}