@import url('../../index.css');

.add-book__container {
    display: flex;
    justify-content: space-around;

    height: calc(100vh - 2rem);
}

.add-book__form__container {
    padding: 4rem 8rem;
    position: relative;
    z-index: 2;
    background-color: rgba(151, 204, 186, 0.5);
    background-color: rgba(223, 223, 223, 0.5);
    display: flex;
    align-items: center;
    

    &::after {
        content: '';
        height: 100%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: .5rem .5rem 2rem rgb(204, 204, 204, .5);
        transform: skew(-15deg, -3deg);

        z-index: -1;
        animation-name: addBookSkew;
        animation-duration: 2s;
    }
}

.add-book__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    animation-name: delayedLoad;
    animation-duration: 3s;

    &__label {
        display: block;
        padding-bottom: .5rem;
    }

    &__input,
    &__textarea,
    &__select {
        border: none;
        outline: none;
        background-color: rgba(121, 195, 255, 0.4);
        border-radius: .3rem;
        width: 17rem;
        max-width: 17rem;
        min-width: 17rem;
        padding: .8rem;

        &:focus {
            background-color: rgb(222, 236, 255);
            color: rgb(44, 25, 1);
        }
    }

    &__textarea {
        max-height: 6rem;
    }

    &__button {
        all: unset;
        background-color: rgb(26, 252, 101, .5);
        text-align: center;
        padding: .7rem 2rem;
        border-radius: .2rem;
        margin-top: 1rem;
        cursor: pointer;
        font-weight: 500;
        font-size: .9rem;

        &:hover {
            background-color: rgba(3, 107, 38, .8);
            color: white;
        }
    }

    &__error__message {
        // background-color: rgb(247, 120, 120, .7);
        border: 1px solid rgb(247, 120, 120, .7);
        box-shadow: .2px .2px 1rem rgb(226, 226, 226);
        border-radius: .3rem;
        padding: .4rem 1.2rem;
        margin-top: 1rem;
        color: red;
    }
}

.add-book__text__container {
    // background-color: rgba(151, 204, 186, 0.5);
    background-color: rgba(223, 223, 223, 0.5);
    display: flex;
    align-items: center;
}

.add-book__text__wrapper {

    padding: 5rem 7rem;

    &__logo {
        color: steelblue;
        font-weight: bold;
    }

    &__heading {
        font-size: 5rem;
        line-height: 1.1;
        padding-bottom: 1rem;
        font-weight: 300;
        color: rgb(15, 15, 15, .8)
    }

    &__subheading {
        font-size: 2rem;
        font-weight: 200;
        padding-bottom: 1rem;
        color: rgb(35, 45, 53);
    }

    &__description {
        font-weight: 300;
        font-size: 1.2rem;
        color: rgb(3, 3, 3, .7);
    }
}