@import url('../../index.css');

@media(max-width: 400px) {
    .quotes__container {
        padding: 2rem;
        background: #f7f7f7;

        &__heading {
            text-align: center;
            font-size: 3.5rem;
            line-height: 1.1;

            &__effect {
                display: block;
                color: steelblue;
                animation-name: dropFromTop;
                animation-duration: 1.2s;
            }
        }
    }
}